$icomoon-font-family: "steelbulk" !default;
$icomoon-font-path: "../../src/font" !default;
$icon-info: "\e900";
$icon-arrow-right: "\e901";
$icon-arrow-down-circle: "\e902";
$icon-instagram: "\e909";
$icon-linkedin: "\e903";
$icon-twitter: "\e904";
$icon-location: "\e905";
$icon-mail: "\e906";
$icon-close: "\e907";